 <div class="col">
        <div class="card">
            <img src="~/img/course-img-1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="cart-title">Lorem, ipsum.</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, vitae!</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>