@model Course


<div class="card mb-5 ">
    <img src="~/img/@Model.Image" class="card-img-top" alt="@Model.Title">
    <div class="card-body ">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, vitae!</p>
        <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary btn-lg ">İncele</a>
        @* bu sekılde de kullanılabılır *@
        @* <a href="/Course/Details/@Model.Id" class="btn btn-secondary btn-lg ">İncele</a> *@
    </div>
</div>
