@model Course; //bu kısımda Course tanıdı çünkü _ViewImport  sayfasında otamatık olarak gelen @using dotnet_basics.Models  sayesınde bunu yapmıs oldu


<p>
    @Model.Title
</p>
<p>
    @Model.Image
</p>
