@model string[] //bu sekılde gelen strıng dızıyı karsılamıs  olduk 

<p>
    @* burada Detail dızıyı ıcındekı elemanları model ustunden goruntulemı oluruz. *@
    @Model[0]  <br>
    @Model[1]
</p>


<p>
    @ViewData["courseTime"]
</p>




@* @model bool *@
@* courseIsOnline bool veri türü olarak geldıgı için onu karsılayan verı turu  bool olmak zorundadır  *@



@* @model int *@
@* saat int veri türü olarak geldıgı için onu karsılayan verı turu date int olmak zorundadır *@



@* @model string  //string beklıyor demektir string gelen verının karsılanması gereklı *@
@* @model string *@

<h1>Course/Detail</h1>

@* <p> 
    @Model 
            @* coursecontrollerdan gelen model bılgısıne karsılık gelıyor bu kısımda gelen objeye bakmış oluyorsunuz 
</p> *@