@model List<Course>




<h1 class="mb-3">Kurslar</h1>
<div class="row kurslar">

    @foreach(Course course in Model){
    @await Html.PartialAsync("_CourseCard",course)  //dışarıya bır tane course objesi gönderiyoruz ve o course objesi _CourseCard sayfasında kullanılacak.  @* bu kısımda course modelini kullanıyoruz *@
   }
</div>