<h1>Course/List</h1>

<div class="col">
        <div class="card">
            <img src="~/img/@ViewData["courseImage1"]" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="cart-title">@ViewData["courseName1"]</h5>
                <p class="card-text">@ViewData["courseDetail1"]</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>
<div class="col">
        <div class="card">
            <img src="~/img/@ViewData["courseImage2"]" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="cart-title">@ViewData["courseName2"]</h5>
                <p class="card-text">@ViewData["courseDetail2"]</p>
                <a href="#" class="card-link">İncele</a>
            </div>
        </div>
    </div>
