@model Product

<h1>Ürün Detay</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@Model.productImage" alt="" class="img-fluid" />
    </div>
    <div class="col-8">
        <h1>@Model.productName</h1>
        <p>
            @Model.productDetail
        </p>
        <p>
           @Model.productPrice
        </p>
       
        @if(Model.productIsStock){
            @if(Model.StockPieces > 0){

        <p class="text-success text-sm">
         Ürün Satışta
        </p>

            }
            else{
                <p class="text-sm text-danger">Stok Yeterli Değil</p>
            }
        }
        else{
           <p class="text-sm text-danger">Ürün Satışta Değil</p>
        }
    </div>
</div>

