@model Product

<h1>Products/Details</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@Model.productImage" alt="" class="img-fluid" />
    </div>
    <div class="col-8">
        <h1>@Model.productName</h1>
        <p>
            @Model.productDetail
        </p>
        <p>
           @Model.productPrice
        </p>
        <p>
         @Model.productIsStock
        </p>
    </div>
</div>

