@model List<Product>


<div class="container">

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-3">Ürünler</h1>
    <a class="btn btn-outline-danger" asp-controller="Products" asp-action="List">Tüm Ürünler</a>
</div>

    <div class="row">
        
@foreach(Product urunler in Model){
      @if(urunler.IsHome && urunler.productIsStock){
        <div class="col-md-3">      
       <div class="card mb-5 ">
    <img src="~/img/@urunler.productImage" class="card-img-top" alt="@urunler.productName">
    <div class="card-body ">
        <h5 class="card-title">@urunler.productName</h5>
        <p class="card-text">@urunler.productDetail</p>
        <p class="card-text">@urunler.productPrice.ToString("C")</p> 
        @* Türkçe kültürde: "1.234,56 ₺"
        İngilizce kültürde: "$1,234.56" *@
        <a href="/Products/Details/@urunler.productId" class="btn btn-secondary btn-lg ">İncele</a>
    </div>
</div>


        </div>
      }
   
       
    

}
   </div>

</div>