@model List<Product>

<h1>Products/List</h1>
<div class="container">
<div class="row">

    @foreach(Product urun in Model)
    {
        @if(urun.productIsStock)
        {
            <div class="col-4">
            <div class="card mb-3">
                <div class="col-md-4">
                    <img src="~/img/@urun.productImage" class="img-fluid rounded-start" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">@urun.productName</h5>
                    <p class="card-text">@urun.productDetail</p>

                    @if(!urun.productIsStock)
                    {
                        <p class="text-danger text-sm">Satışta Değil</p>
                    }

                    <button class="btn btn-primary btn-sm">Detail</button>
                    </div>
                </div>
            </div>
        </div>
        }

    }

</div>
</div>